@use 'sass:list';
@use 'sass:map';

:root {
  --bg: #02101b;
  --button-bg: #082638;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

button,
select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: var(--button-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover,
select:hover {
  border-color: #646cff;

  &[disabled] {
    border-color: var(--button-bg);
    cursor: default;
  }
}

button:focus,
button:focus-visible,
select:focus,
select:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select {
  appearance: none;
}

input[type="checkbox"] {
  appearance: none;

  width: 1.2em;
  height: 1.2em;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  transition: background-color 0.2s, border-color 0.2s;
}

// checkmark, created using transformations on white border
input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 0.11em;
  left: 0.38em;
  width: 0.25em;
  height: 0.6em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

.above-map {
  z-index: 1000;
}

.more-to-explore {
  color: orange;
}

.card-text {
  font-family: monospace;
  font-weight: 600;
  margin: 0;
  text-align: center;
  line-height: 1.2em;
  color: black;
}

.card-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0.3em
}

rect.card,
line.arrow {
  pointer-events: auto;
  cursor: pointer;
}

// arrow line
line.arrow {
  stroke: gray;
}

// arrow head
path.arrow {
  fill: gray;
  stroke: var(--bg);
  stroke-width: 4px;
  stroke-linejoin: round;
}

line.arrow:hover {
  stroke: lightgray;

  &+path.arrow {
    fill: lightgray;
  }
}

$categories-colors: (
  "orbital-canon": ('388a5d', '68ffac'),
  "quantum-moon": ('4f3a8d', '9068ff'),
  "vessel": ('b44a4a', 'ff6868'),
  "ash-twin-project": ('b4764a', 'ffa768'),
  "stranger": ('1d4a94', '3280ff'),
  "other": ('7f807a', 'e2e4da'),
);

@each $name, $colors in $categories-colors {
  $c: ##{list.nth($colors, 1)};
  $highlight: list.nth($colors, 2);

  input[type="checkbox"].#{$name} {
    border: 0.1px solid $c;
    background-color: #{$c}44;

    &:checked {
      background-color: $c;
      border-color: $c;
    }
  }

  // hack to have correct hover colors in cards
  svg:hover>.c#{$highlight} {
    fill: ##{$highlight};
  }
}

// question sign background
rect.img-q-bg {
  fill: var(--bg);
}

// question sign itself
text.img-q-icon {
  fill: orange;
}
